html {
    background-image: url(img/aa.gif);
    background-size: 1200px;
}

body {
    background-color: rgb(16,16,16);
    color: rgb(212,212,212);
    margin: 200px;
    padding: 100px;

}

article {
    color: black;
    border-color: rgb(7, 7, 7);
    border-radius: 20px;
    text-align: center;
}


.cabecalho {
    background-color: rgb(236, 241, 241);
    color: rgb(16,16,16);
    border-style: ridge;
    border-color: blueviolet;
    border-radius: 20px;
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.titulo-de-secao {
    background-color: rgb(3, 3, 3);
    color: white;
    border-style: hidden;
    border-color: blueviolet;
    border-radius: 20px;
    margin: 25px;
}

.titulo-post {
    background-color: blue
    color  (blue);
}

footer {
    background-image: url(img/space.png);
}